@model ML.DatosPersonales
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Datos Personales</h2>
        </div>
        <div class="col" style="text-align:end">
            @Html.ActionLink("Agregar","Form","CRUD", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <hr />

    @if (Model != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Editar</td>
                    <td class="visually-hidden">IdDatosPersonales</td>
                    <td>Nombre</td>
                    <td>PrimerApellido</td>
                    <td>SegundoApellido</td>
                    <td>FechaNacimiento</td>
                    <td>Sexo</td>
                    <td class="visually-hidden">IdEstadoNacimiento</td>
                    <td>EstadoNacimiento</td>
                    <td>Telefono</td>
                    <td>Celular</td>
                    <td class="visually-hidden">IdDireccion</td>
                    <td>Direccion</td>
                    <td>Borrar</td>
                </tr>
            </thead>
            <tbody>
                @foreach(ML.DatosPersonales item in Model.List)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning"
                               href="@Url.Action("Form", "CRUD",
                                    new { idDatos = item.IdDatosPersonales})"><i class="fa-regular fa-pen-to-square"></i></a>
                        </td>
                        <td class="visually-hidden">@item.IdDatosPersonales</td>
                        <td>@item.Nombre</td>
                        <td>@item.PrimerApellido</td>
                        <td>@item.SegundoApellido</td>
                        <td>@item.FechaNacimiento</td>
                        <td>@item.Sexo</td>
                        <td class="visually-hidden">@item.EstadoNacimiento.IdEstado</td>
                        <td>@item.EstadoNacimiento.Nombre</td>
                        <td>@item.Telefono</td>
                        <td>@item.Celular</td>
                        <td class="visually-hidden">@item.Direccion.IdDireccion</td>
                        <td>@item.Direccion.Estado.Nombre @item.Direccion.Municipio.Nombre 
                            @item.Direccion.Colonia.Nombre @item.Calle</td>
                        <td>
                            <a class="btn btn-danger"
                               href="@Url.Action("Delete","CRUD",
                                    new { idDatos = item.IdDatosPersonales })"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    }
    else
    {
        <div class="alert-danger" role="alert">No hay registros para mostrar...</div>
    }
</div>

